/* font section start */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');



.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400 ;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* font section ends */


/* navbar section starts */

.navbar{
   display: flex;
   justify-content: space-between;
   align-items: center;

   margin-bottom: 100px;
}
header{
    max-width: 1140px;
    margin: 0 auto;
}
.nav-list-container{
   
}
.nav-list{
    display: flex;
    gap: 30px;
    color: #000000 ;

    list-style: none;
    
}
.nav-list-link{
        text-decoration: none;
        color: #8987A1;
}

/* nav section ends */

/* header section starts */

.header-section{
    display: flex;
    align-items: center;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
   

}
.banner-description{
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.5);
}

/* shared section  */
.orange
{
    color: #E95A08;
}
.black{
    color: black;
}

section{
    margin-bottom: 120px;
}
.card-button{
    background-color: #E95A08;
    width: 270px;
    height: 50px;
    color: white;
    border: none;
   
}

/* shared section ends */

/* cards section starts */

.plant-title{
    font-size: 3.13rem;
    margin: 20px 0;
    font-weight: bold;
    font-size: 3.125rem;

}
.plant-description{
    font-size: 1.4rem;
    text-align: center;
    max-width: 888px;
    color: rgba(0, 0, 0, 0.5) ;
}

.plant{
    max-width:1140px;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
}
.card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.card-container{

justify-items: center;
}

.card-title{
    font-weight: 400;
    font-size: 1.3rem;
    margin: 20px 0;
    
}
.card-price{
    font-weight: bold;
    font-size: 1.3rem;
    
}

/* card section ends */



/* badge section start */

.badge-section
{
    max-width: 1140px;
    margin: 0 auto;

}

.badge-container{
    display: flex;
    align-items: center;
    margin-top: 100px;
    
    
}

.badge{

    width: 286px;
    height: 286px;
   margin-left: 347px;
   margin-bottom: -150px;
   position: relative;

}

.badge-title{
    font-weight: bold;
    font-size: 3.12rem;
}
.badge-description{
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
   
}
.badge-list-item{
    padding-bottom: 20px;

}


 
/* badge section ends */


/* deal item section */

.deal-title{
    font-size: 3.13rem;
    text-align: center;
    font-weight: bold;
}
.deal-description{

    font-size: 1.4rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
  
    
}

.deal-card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    max-width: 1140px;
    margin: 0 auto;
    gap: 28px;
    
    
}
.deal-items-1{
    background-image: url(/assets/deal-bloom.png) ;

    text-align: center;
 color: #FFFFFF;
    border: none;
    border-radius: 14px;
    width: 367px;
    height: 197px;
    font-size: 1.3rem;
 font-weight: bold;
 display: flex;
 flex-direction: column;
 
 justify-content: center;
 align-items: center;
}

.deal-items-2{
    background-image: url(/assets/deal-ana.png);
    text-align: center;
    color: #FFFFFF;
    border-radius: 14px;
    width: 367px;
    height: 197px;
    font-size: 1.3rem;
    font-weight: bold;
    display: flex;
 flex-direction: column;
 
 justify-content: center;
 align-items: center;
}
.deal-items-3{
    background-image: url(/assets/deal-zabo.png);
width: 100%;
grid-row: span 2;
text-align: center;
color: #FFFFFF;
width: 753px;
height: 423.12px;
 border-radius: 14px;
 display: flex;
 flex-direction: column;
 
 justify-content: center;
 align-items: center;
 font-size: 2.5rem;
 font-weight: bold;
}


.deal-card-title{
   margin: 0;

}
.deal-card-description{
    text-decoration: underline;
    margin: 0;
    padding-top: 26px;
}
    


/* deal section ends */


/* colourful banner part starts */


.colorful-bunch{
    background-image: url(/assets/news-letter-bg.png);
    width: 1440px;
   height: 533px;
    margin: 0 auto;
    gap: 20px;
}
.colorful-bunch-title{
    font-size: 3.13rem;
    color: white;
    
    text-align: center;
    padding-top: 200px ;


}
.email-input{
   width: 644px;
   height: 50px;
    border: none;
    display: flex;
    justify-content: center;
   
    

}

.Subscribe-button{
    background-color: #E95A08;
    width: 186px;
    height: 50px;
    color: white;
    border: none;
    
}
.colorful-bunch-input{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* colourful banner part ends */



/* footer part start */

footer{
    display: flex;
    max-width: 1440px;
    max-height: 348px;
    margin: 0 auto;
    justify-content: space-around;
}
.footer-links{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.links{
    text-decoration: none;
    color: #8987A1;

}
.footer-logo{
    gap: 10px;
}


/* responsive section */


@media (max-width: 768px) {
    .header-section{
        flex-direction: column;
        text-align: center;
    }
    .banner-title{
        font-size: 2.5rem;
    }
    .banner-description{
        font-size: 1rem;
    }
    .card{
        grid-template-columns: 1fr;
    }
    .badge-container{
        flex-direction: column;
        text-align: center;
    }
    .badge{
       display: none;
    }
    .badge-title{
        font-size: 2rem;
    }
    .badge-description{
        font-size: 1rem;
    }
    .deal-card{
        grid-template-columns: 1fr;
    }
    .deal-items-1, .deal-items-2, .deal-items-3{
        width: 100%;
        height: auto;
        font-size: 1.5rem;
    }
    .colorful-bunch{
        width: 100%;
        height: auto;
        padding: 20px;
    }
    .colorful-bunch-title{
        font-size: 2rem;
        padding-top: 100px;
    }
    .email-input{
        width: 100%;
      
    }
    footer{
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
}



